@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: "white";
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
